
.Event_Form{
    text-align: center;
    width:80%;
    height:370px ;
    margin:20px 10%;background-color: burlywood;
    box-shadow: 0 0 20px black;
}
.Event_Input{
    margin:20px 20%;
}
.Event_Input > label{
    display: block;
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}
